.container{
    margin: 0px;
    padding:0px;
}

html, body, .container-fluid {
    height: 100%; 
        width: 100%; 
        
        background-color:#000000;
  }

.body{
    /* color: white; */
    /* margin: auto; */
    padding: 20px;
    margin-right: 0px;
    margin-left: 10px;
    font-family: cursive;
    
    
    
    /* width: 118.3em; */
    background: #000000;
    /* width: 3000px; */
    
}



h1{
    color: white;
}

.textbox_button{
    text-align: center;
}

.form-control.w-25{
    margin:0px auto;
}

.form-label{
    color: white;
}

.glow_effect{
    color: white;
   
    font-family: cursive;
    font-size: 50px;

    animation: glow 1s ease-in-out infinite alternate;
    

}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px gray, 0 0 5px gray, 0 0 5px #171717, 0 0 5px rgb(254, 0, 0), 0 0 5px rgb(254, 0, 0), 0 0 5px #171717, 0 0 5px rgb(254, 0, 0);
    }
    
    to {
      text-shadow: 0 0 5px gray 0 0 5px rgb(254, 0, 0), 0 0 5px #171717, 0 0 5px rgb(254, 0, 0), 0 0 5px #171717, 0 0 10px rgb(254, 0, 0), 0 0 5px #171717;
    }
  }


  .card{

    border-style: solid;
    /* border-width: 40px; */
    font-family: cursive;
    background-color: white;
    border: solid 5px rgb(255, 255, 255);
    box-shadow:
    inset 60px 0 120px rgb(254, 0, 0),  
    inset -60px 0 120px #171717;
    border-color: rgb(212, 232, 238);
    margin-left:10px;
    margin-top: 3em;
   
}


h4{
    font-weight: bold;
}

img.card-img-top{
    background-color:black;
    /* width: 250px; */
    margin-right: 500px;
    padding-left: 0px;
    margin-left:0px;
    height: 200px;
    
   
}

.for_image{
    background-color:black;
}

