.container{
    margin: 0px;
}

html, body, .container-fluid {
    height: 100%; 
        width: 100%; 
        overflow:hidden;
        background-color:#000000;
  }

.body{
    /* color: white; */
    margin: 0px;
    padding: 20px;
    margin-right: 0px;
    margin-left: 10px;
    font-family: cursive;
  
    width:100%;
    height:64em;
    /* min-height: 38em; */
    /* width: 118.3em; */
    background: #000000;
    /* width: 3000px; */
    /* width: 145%; */
    /* width: 3000px; */
}



h1{
    color: white;
}

.textbox_button{
    text-align: center;
}

.form-control.w-25{
    margin:0px auto;
}

.form-label{
    color: white;
}

.glow_effect{
    color: gray;
   
    font-family: cursive;
    font-size: 50px;

    animation: glow 1s ease-in-out infinite alternate;
    

}

/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 30px #FE0000, 0 0 10px #FE0000, 0 0 10px #FE0000, 0 0 10px #FE0000, 0 0 10px #FE0000;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 10px #FE0000, 0 0 10px #FE0000, 0 0 10px #FE0000, 0 0 60px #FE0000, 0 0 10px #FE0000, 0 0 10px #FE0000;
    }
  } */


.card{

    border-style: solid;
    /* border-width: 40px; */
    font-family: cursive;
    background-color: white;
    border: solid 5px rgb(255, 255, 255);
    box-shadow:
    inset 60px 0 120px #f0f,  
    inset -60px 0 120px #0ff;
    border-color: rgb(212, 232, 238);

}


h4{
    font-weight: bold;
}

img.card-img-top{
    background-color:black;
    /* width: 250px; */
    margin-right: 500px;
    padding-left: 0px;
    margin-left:0px;
    height: 200px;
   
}

.for_image{
    background-color:black;
}

