{% extends 'base.html.j2' %}


{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


{% block title %}
    Homepage
{% endblock %}



{% block content%}
<div class="body">
    <h1> Welcome to PokemonMADNESS!</h1>
    <h5>Gotta catch 'em all!!</h5>
    <div>
        <h2> You have been chosen to battle the most elite trainers of the world.<h2/>
        <p>Please proceed with caution and head to the training grounds.</p>
        <p>Select five pokemon of your choice.</p>
        <p>There is no turning back now!! Proceed to the arena and await your fate.</p>
        
    </div>
</div>
    
{% endblock %}