{% extends 'base.html.j2'%}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/pokemon.css')}}">
{% endblock %}

{% block title %}
Pokemon - Team
{% endblock %}


{% block content %}


{# {% if pokemons %} #}



<h3>Battlegrounds</h3>

{% for user in users %}
    <div class="card" style="width: 20rem; display: inline-block; width: 19%">
    <div class="for_image">
        <img src="{{user.get_icon_url()}}"  class="card-img-top" alt="avatar">
        
    </div>
    <div class="card-body">
        <h4 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h4>

    </div>
    <table class="table table-borderless " style="text-align: right; width: 75%; margin:0px auto;" >
        <tbody>
        <tr>
            <td scope="col">Pokemon</td>
            <td>
                {% for p in pokemons[user.id] %}
                    <img src="{{p.sprite_url}}">
                    <h5>{{p.pokemon_name}}</h5>                   
                {% endfor %}
            </td> 
            {# <td>{{}}</td>  #}
        </tr>
        <tr>
            <td scope="col">Wins:</th>
            <td>{{user.win_count}}</td> 
        </tr>
        <tr>
            <td scope="col">Losses:</th>
            <td>{{user.loss_count}}</td> 
        </tr>
        {# <tr>
            <td scope="col">Hp Base Stat</th>
            <td>{{poke.hp_base_stat}}</td>
        </tr>
        <tr>
            <td scope="col">Defense Base Stat</th>
            <td>{{poke.defense_base_stat}}</td>
        </tr>  #}
        </tbody>
    </table>

    <div class="card-body">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('main.pokemon_battle_view', id=user.id)}}" class="btn btn-success">Battle</a>
      
        {% endif %}
        
    </div>

    </div>
{% endfor %}






  {# <table class="table table-striped table-hover table-dark">
   <ul class="list-group list-group-flush border-0">
    <thead>
      <tr>
        <th scope="col">Pokemon</th>
        <th scope="col">Ability Name</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Sprite Url</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">Hp Base Stat</th>
        <th scope="col">Defense Base Stat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{pokemons.pokemon}}</th>
        <td>{{pokemons.ability_name}}</td>
        <td>{{pokemons.base_experience}}</td>
        <td><img src="{{pokemons.sprite_url}}"  width= 80px alt = "Pokemon Sprite Image"></td>
        <td>{{pokemons.attack_base_stat}}</td>
        <td>{{pokemons.hp_base_stat}}</td>
        <td>{{pokemons.defense_base_stat}}</td>
      </tr>
    </tbody>
  </table> #}
{# {% endif %} #}
</div>

{% endblock %}