{% extends 'base.html.j2'%}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/pokemon_battle.css')}}">
{% endblock %}

{% block title %}
Pokemon - Team
{% endblock %}


{% block content %}


{# {% if pokemons %} #}


<div class="body">
<h1 class="glow_effect ">Battlegrounds</h1>

{% for user in users %}
    <div class="card" style="width: 20rem; display: inline-block; width: 19%">
    <div class="for_image">
        <img src="{{user.get_icon_url()}}"  class="card-img-top" style="margin-right: 0" alt="avatar">
        
    </div>
    <div class="card-body">
        <h4 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h4>

    </div>
    <table class="table table-borderless " style="text-align: right; width: 75%; margin:0px auto;" >
        <tbody>
        <tr>
            
            <td>
                {% for p in pokemons[user.id] %}
                    <img src="{{p.sprite_url}}">
                    <h5>{{p.pokemon_name}}</h5>                   
                {% endfor %}
            </td> 
            {# <td>{{}}</td>  #}
        </tr>
        <tr>
            <td scope="col">Wins:</th>
            <td>{{user.win_count}}</td> 
        </tr>
        <tr>
            <td scope="col">Losses:</th>
            <td>{{user.loss_count}}</td> 
        </tr>
        {# <tr>
            <td scope="col">Hp Base Stat</th>
            <td>{{poke.hp_base_stat}}</td>
        </tr>
        <tr>
            <td scope="col">Defense Base Stat</th>
            <td>{{poke.defense_base_stat}}</td>
        </tr>  #}
        </tbody>
    </table>

    <div class="card-body">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('main.pokemon_battle_view', id=user.id)}}" class="btn btn-dark btn btn-success">Battle</a>
      
        {% endif %}
        
    </div>

    </div>
{% endfor %}


</div>

{% endblock %}