{% extends 'base.html.j2'%}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/pokemon.css')}}">
{% endblock %}

{% block title %}
Pokemon
{% endblock %}


{% block content %}
<div class="body">
<h1>Pokemon Properties</h1>
<form action="{{url_for('pokemon')}}" method="POST">
  <div class="textbox_button">
  {{form.hidden_tag()}}
  
    <div class="mb-3">
      {{form.name.label(class="form-label")}}
      {{form.name(class="form-control w-25")}}

      {% for error in form.name.errors %}
        <small style="color:red"></small>{{error}}</div>

      {% endfor %}
    
    </div>
    <div>
    {{form.submit(class="btn btn-dark form-control w-25 mb-3")}}
    </div>
  </div>
    
</form>

{% if pokemons %}
  <table class="table table-striped table-hover table-dark">
  
    <thead>
      <tr>
        <th scope="col">Pokemon</th>
        <th scope="col">Ability Name</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Sprite Url</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">Hp Base Stat</th>
        <th scope="col">Defense Base Stat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{pokemons.pokemon}}</th>
        <td>{{pokemons.ability_name}}</td>
        <td>{{pokemons.base_experience}}</td>
        <td><img src="{{pokemons.sprite_url}}"  width= 80px alt = "Pokemon Sprite Image"></td>
        <td>{{pokemons.attack_base_stat}}</td>
        <td>{{pokemons.hp_base_stat}}</td>
        <td>{{pokemons.defense_base_stat}}</td>
      </tr>
    </tbody>
  </table>
{% endif %}
</div>

{% endblock %}