{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block title %}
    {% if current_user.is_authenticated %}
        Edit Profile
    {% else %}
        Register
    {% endif %}
{% endblock %}



{% block content %}
<div class="body_register">
<h1 class="glow_effect"> 
    {% if current_user.is_authenticated %}
        Edit Profile
    {% else %}
        Register
    {% endif %}
</h1>

<form action="{{url_for('auth.edit_profile') if current_user.is_authenticated else url_for('auth.register')}}" method="POST">
    <div class="textbox_button">
    {{form.hidden_tag()}}

        <div>
        {{form.icon.label(class="form-label")}}
        </div>
        <div>
            {% for subfield in form.icon %}
                {{subfield}}
                {{subfield.label | safe}}
            {% endfor %}
        </div>
        <div class="mb-2">
        {{form.first_name.label(class="form-label")}}
        {{form.first_name(class="form-control w-25", value=current_user.first_name)}}
        {% for error in form.first_name.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
        </div>
        <div>
        {{form.last_name.label(class="form-label")}}
        {{form.last_name(class="form-control w-25", value=current_user.last_name)}}
        {% for error in form.last_name.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
        </div>

        <div>
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control w-25", value=current_user.email)}}
        {% for error in form.email.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
        </div>
        <div>
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control w-25")}}
        {% for error in form.password.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
        </div>
        <div>
        {{form.confirm_password.label(class="form-label")}}
        {{form.confirm_password(class="form-control w-25 mb-4")}}
        {% for error in form.confirm_password.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
        </div>
        <div>
        {{form.submit(class="btn btn-dark form-control w-25 mb-3")}}
        </div>
    </div>
        <div class="loader1">
            <div class="face1 face2">
                <div class="circle1"></div>
            </div>
            <div class="face1 face3">
                <div class="circle1"></div>
            </div>
        </div>
    
        
</div>  
</form>
{% endblock %}